# CryEngine-specific ignores
Bin64/
_GameSDK/Cache/
_GameSDK/Generated/
_GameSDK/Intermediate/
_GameSDK/Libs/
CMakeLists.txt.user
SolutionInfo.txt
CMakeFiles/

# visual studio 2022 specific files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

node_modules/
*.dba
*.caf
*.cryasset
*.xml
*.bspace
*.$animsettings
*.$caf
*.animsettings
*.i_caf
*.ogg
*.animevents
*.adb
*.level
*.lyr
*.dat
*.pak
*.env
*.mtl
*.cdf
*.dds
*.tif
*.skin
*.chr
*.chrparams
*.cgf
*.img
*.json
*.log
user/shaders/cache/d3d11/cgcshaders/clouds@rendercloudcs
/user/*
*.pch
